<ion-list>

  <ion-item-sliding *ngFor="let lista of deseosService.listas | filtroCompletado:terminada">

    <button ion-item (click)="listaSeleccionada(lista)">
      {{ lista.titulo }}

      <ion-note item-end>
        {{ lista.items.length }} Items
      </ion-note>
    </button>

    <ion-item-options side="left">
        <button (click)="borrarLista(lista)" ion-button color="danger">
          <ion-icon name="close"></ion-icon>
        </button>
    </ion-item-options>

  </ion-item-sliding>

</ion-list>
